@charset "UTF-8";
a{text-decoration: none;}
a:link {color:#fcfcfc; text-decoration: none;} 
a:visited {color:#fcfcfc;} 
a:hover {color:#fcfcfc; text-decoration: none;} 
a:active {color:#fcfcfc; } 

#box {
    width: 100px;
    height: 100px;
    background: #3399FF;
}

body{
    color: #444444;
    padding-top: 80px;
    position: relative;
    background: radial-gradient(#2BB499,#15A186) fixed;
    background: #F5BD28;
}
.image-book{
    z-index: -99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.image-book img{
    position: absolute;
    bottom: 0;
    right: 60px;
    width: 800px;
}

#particles{
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

img{
	width: 100%;
	vertical-align: bottom;
}
li{
    list-style: none;
}
.midashi-h{
    position: relative;
    width: auto;
    height: 40px;
}
.midashi-h p{
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    color: white;
    z-index: 2;
    margin: 4px 0 0 12px; 
}
.midashi-h div{
  width: 320px;
  border-top: 50px solid #F59116;
  border-right: 23px solid transparent;
  position: absolute;
  z-index: 1;
}

.midashi-10{
    width: 260px;
}




.syoshi-menu{
    width: 100%;
    height: 80px;
    background: #FAAC01;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.daikei{
    position: relative;
    height: 120px;
    width: 100%;
}
.daikei-bg{
  height: 0;
  width: 350px;
  border-top: 120px solid #444444;
  border-right: 50px solid transparent;
  position: absolute;
  z-index: 1;
}

.daikei p{
    position: absolute;
    top: 26px;
    left: 70px;
    margin: auto;
    z-index: 2;
    font-weight: normal;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.geNGO {
    width: 280px; 
    height: 80px;
    font-weight: bold;
    text-align: center;
    background: #fcfcfc;
}
.geNGO p{
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #444444;
}

aside{
    width: 380px;
    padding-top: 30px;
}

.side-block{
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 30px;
    
}


.side{
    margin-top: 20px;
    position: relative;
    height: 100px;
    width: 100%;
    background: #444444;
}

.side p{
    position: absolute;
    margin: auto;
    left: 0;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 32px 40px;
    color: #444444;
}

.side-bg{
  height: 0;
  width: 220px;
  border-top: 100px solid #fcfcfc;
  border-right: 50px solid transparent;
  position: absolute;
  z-index: 1;
}

.side2{
    margin-top: 20px;
    position: relative;
    height: 100px;
    width: 300px;
    border-radius: 0 50px 50px 0;
    overflow: hidden;
    background: #fcfcfc;
}
.side-aa{
    background: #FFA3FB;
    width: 40px;
    height: 100%;
    z-index: 2;
}
.side-bb{
    background: #FFA3FB;   
    width: 40px;
    height: 100%;
    z-index: 2;
}
.side-cc{
    background: #0089FF;
    width: 40px;
    height: 100%;
    z-index: 2;
}
.side-dd{
    background: #4CD603;   
    width: 40px;
    height: 100%;
    z-index: 2;
}
.side-ee{
    background: #ff0000;
    width: 40px;
    height: 100%;
    z-index: 2;
}



.side2 p{
  display: block;
  position: absolute;
  top: 50%;
    left: 100px;
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
    z-index: 2;
    font-size: 1.5rem;
    font-weight: bold;
    color: #444444;
}
.side2 img{
    position: absolute;
    bottom: -4px;
    right: 10px;
    width: 100px;
    stroke-width: 20;
}




.top-kisetsu{
    margin-top: 50px;
}
.top-rireki{
    margin-top: 50px;
}



.more-search div{
    width: 200px;
    margin-right: 20px;
}

.search-select{
    width: 100%;
}

.osusume-block{
    margin-right: 120px;
    margin-top: 30px;
}

.osusume{
    width: 300px;
    height: 430px;
    position: relative;
    margin-right: 40px;
}
.osusume-img{
    width: 260px;
    margin: 0 auto;
    background: #fcfcfc;
    text-align: center;
    padding-top: 20px;
}
.osusume-img img{
    width: 220px;
}
.osusume-kate{
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 70px;
    left: 12px;
    padding: 6px 20px;
    background: black;
    z-index: 3;
}
.osusume-title1{
    position: absolute;
    bottom: 80px;
    left: 0;
    height: 0px;
    width: 300px;
    border-bottom: 30px solid #dcdcdc;
    border-left: 300px solid transparent;
}
.osusume-title2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 80px;
    background: #dcdcdc;
}
.osusume-title2 p{

}

.hirano{
    height: 62px;
    overflow: hidden;
    width: 100%;
    text-align:justify;
    text-justify:inter-ideograph;
}
.hirano p{
    padding: 20px 14px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.result{
    margin-top: 50px;   
}

.se-menu{
    width: 360px;
    background: red;
}

.se-card{
    width: 1000px;
    height: 320px;
    position: relative;
    margin-top: 30px;
    margin-left: 60px;
}
.se-card top{
    position: relative;
}
.se-card a{
    position: absolute;
    width: 1000px;
    height: 320px;
    z-index: 10;
}

.se-block-w{
    position: absolute;
    top: 30px;
    left: 20px;
    height: 0;
    width: 930px;
    border-top: 260px solid #FAAC01;
    border-right: 120px solid transparent;
    z-index: 1;
}
.se-block-g{
    position: absolute;
    top: 60px;
    z-index: 2;
    height: 0;
    width: 1000px;
    border-top: 200px solid #fcfcfc;
    border-right: 96px solid transparent;
}
.se-rental{
    z-index: 3;
    position: absolute;
    top:30px;
    right: 61px;
    height: 50px;
    width: 150px;
  display: inline-block;
  transform: skewX(-25deg);
  padding: .7em 2.1em;
  font-size: 16px;
}
.se-rental-text{
    font-size: 18px;
    font-weight: bold;
    color: white;
  display: inline-block;
  transform: skewX(25deg);
}

.kanou{
  background: #4DD604;
}
.hukanou{
  background: #ff0000;
}


.se-pic{
    position: absolute;
    top: 0;
    left: 34px;
    z-index: 3;
    width: 212px;
    height: 320px;
    background: red;
}
.se-pic img{
    width: 100%;
    height: 100%;
}

.se-kate{
    position: absolute;
    top: 44px;
    left: 260px;
    z-index: 4;
    color: #fff;
    font-weight: bold;
    padding: 6px 20px;
    background: #222222;
}
.se-text-block{
    position: absolute;
    top: 90px;
    left: 260px;
    z-index: 5;
    width: 580px;
    height: 180px;
    overflow: hidden;
}

.se-ti{
    color: #444;
}

.se-read{
    margin-top: 10px;
    height: 64px;
    overflow: hidden;
    width: 100%;
    text-align:justify;
    text-justify:inter-ideograph;
}
.se-read p{
    font-size: 18px;
    line-height: 23px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.search-op{
    position: fixed;
    top: 160px;
    right: 0;
    width: 280px;
    height: 590px;
    background: #fcfcfc;
}

.search-block{
    position: relative;
    width: 280px;
    height: 80px;
    margin-top: 30px;
}

.search-mi{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 70%;
    height: 66px;
    background: #FAAC01;
  display: inline-block;
  transform: skewX(-23deg);
}

.search-mi-bg{
    font-size: 18px;
    font-weight: bold;
    color: white;
  display: inline-block;
  transform: skewX(23deg);
}

.search-block p{
    text-align-last: center;
    padding-top: 18px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.search-ward{
    padding: 18px 16px 0 16px;
    
}
.search-ward p{
    padding-left: 4px;
    margin-bottom: 4px;
    color: #444;
    font-weight: bold;
}
.search-ward .ward{
    font-size: 18px;
    margin-bottom: 36px;
    background: #888;
    border-radius: 8px;
    padding: 8px 6px;
    color: white;
}







.card-syousai{
    max-width: 1320px;
    margin-top: 30px;
    background: #fcfcfc;
    padding: 30px 0;
}

.kensaku-bu{
    width: 100%;
    height: 90px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 102px;
    border-radius: 100px;
    
}
.kensaku-bu:hover{
    color: white;
}
.kensaku-ma{
    margin-left: 4px;
    margin-bottom: 6px;
    color: #fcfcfc;
    font-weight: bold;
}

.btn-group-toggle{
    width: 100%;
}
.btn-group-toggle label{
    width: 200px;
}
.btn-group-toggle label{
    padding-top: 10px;
    padding-bottom: 0;
}



.radio-button input[type="radio"]:checked + label {
  background-color: #5a6268;
  border-color: #545b62;
  color: #fff;
}
.miii{
    margin-top: 50px;
    margin-bottom: 20px;
}
.miii input{
    background: #fcfcfc;
}
.miii select{
    background: #fcfcfc
}
.miii-2{
    margin-top: 100px;
}
.miii-hen{
    margin-top: 94px;
    margin-bottom: 0px;
}
.taitoru{
    z-index: 1;
    position: absolute;
    top: -50px;
    left: 0;
    height: 100px;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 32px 40px;
    width: 420px;
}
.taitoru p{
    position: absolute;
    color: #fcfcfc;
    z-index: 2;
}
.taitoru-bg{
  width: 360px;
  border-bottom: 100px solid #222222;
  border-right: 50px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


.rentaru-bu button{
    border-radius: 100px;
    width: 80%;
    height: 70px;
    margin: 0 auto;
}

.hen-pos{
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 2px;
}
.kansou-txt{
    font-size: 22px;
    font-weight: bold;
}
.kansou-area{
    width: 90%;
    height: 300px;
}
.henkyaku-bu{
    width: 90%;
    padding: 30px 40px 0 40px;
    color: white;
}
.henkyaku-bu button{
    border-radius: 100px;
    height: 70px;
}
.rebi{
    
}
.rabi-pic img{
    width: 80px;
}
.rebi-txt{
margin: 10px 0;
border-radius: 8px;
}
.rebi-txt p{
    font-size: 22px;
    background: #CCE1F2;
    padding: 10px 6px;
    border-radius: 8px;
    margin-bottom: 0;
}
.book-finish img{
    max-width: 180px;
}

.book-finish-title{
    width: 100%;
    height: 46px;
    overflow: hidden;
    padding-top: 20px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.book-finish-ms{
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.kashidashi-bu{
    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 100px;
    width: 100%;
    color: white;
    font-weight: bold;
}
.hen-pos-2{
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-left: 2px;
    margin-bottom: 0;
}
.score-txt{
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}










/*-- モーダルウィンドウCSS --*/

.modal-wrapper {
  z-index: 999;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: "";
}

.modal-wrapper .modal-window {
  z-index: 20;
  position: relative;
  padding: 30px 30px 15px;
  background: #444;
}

.mo-pos{
    position: absolute;
    bottom: 0;
}
.modal-window {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0,0.2)
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38;
}

.modal-content{
    min-height: 280px;
    max-height: 280px;
    padding: 0 200px;
    border: none;
}
/*-- モーダルウィンドウCSS ここまで --*/


.hov-anime:hover,
.hov-anime:focus {
    animation: unkmorimori 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@keyframes unkmorimori {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}


.hov-anime{
    --color: #fcfcfc;
    --hover: #F59116;
}
.hov-anime{
    color: var(--color);
    transition: 0.25s;
}
.hov-anime:hover,
.hov-anime:focus {
    border-color: var(--hover);
    color: #fcfcfc;
}



.modal-bg{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 86vw;
    height: 325px;
    background: #888888;
  display: inline-block;
  transform: skewX(-23deg);
  font-size: 16px;
}
.modal-bg-2{
    font-size: 18px;
    font-weight: bold;
    color: white;
  display: inline-block;
  transform: skewX(23deg);
}
.modal-content{
    background: none;
}